<!--  Replace menu links here -->

<li class="nav-item">
<!--<a class="nav-link" href="{{site.baseurl}}/index.html">Logistics</a>-->
<a class="nav-link" href="http://eepurl.com/iVLJWw" target="_blank" rel="noopener">Transport Inquiry</a>

</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/maps/Eurasian_map/index.html">Map</a> <!-- New link -->
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Contact</a>
    </li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>-->
<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Ghost</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li> -->
